@import 'variables';

#Capsule {
	display: flex;
	flex-direction: column;

	.capsule__name {
		text-align: center;
	}

	.capsule__blocks {
		margin-top: 50px;
		display: grid;
		grid-template-columns: repeat(2, 300px);
		column-count: 2;
		column-gap: 160px;
		row-gap: 40px;

		.capsule__info__elem {
			> {
				height: 150px;
				width: 300px;
			}

			.capsule__info__title {
				line-height: 20px;
				width: fit-content;
				max-width: 1fr;
				text-align: left;
				padding-left: 8px;
				padding-right: 50px;
				margin-bottom: 15px;
				background-color: #00317c;
				font-size: $font-size-small;
				border-radius: 5px;
			}

			.capsule__info__value {
				line-height: 100px;
				padding-left: 16px;
				background-color: #00193e;
				font-size: $font-size-big;
				border-radius: 20px;
			}
		}
	}
}
