@import 'App.scss';
@import 'CapsulePage.scss';
@import 'NavBar.scss';
@import 'variables';

* {
	outline: none;
	margin: 0;
	padding: 0;
	border: 0;
	color: $color-white;
}

a {
	text-decoration: none;
}

li::marker {
	content: '';
}
