@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#Nav {
	user-select: none;
	min-height: 100vh;
	max-width: 300px;
	width: 17.7%;
	font-size: $font-size-tiny;
	font-family: $font2;
	font-weight: 500;

	.nav__bar__section:first-child {
		border-top: none;
	}

	.nav__bar__section {
		display: flex;
		flex-direction: column;
		justify-items: center;
		border-top: $border-style;

		> * {
			&:first-child {
				margin-top: 12px;
			}

			&:last-child {
				margin-bottom: 12px;
			}

			margin: 8px 8px 0px 8px;
		}

		.nav__category__label {
			margin: 12px 16px 7px 16px;
		}

		.nav__elem {
			line-height: 40px;

			.nav__link {
				display: block;
				color: $color-white;

				* {
					vertical-align: middle;
					padding-bottom: 5px;
				}

				.navName {
					margin: 12px 0 4px 16px;
					padding-left: 16px;
				}

				.navImage {
					height: 24px;
					width: 24px;
					fill: $color-svg-elem;
					padding-left: 10px;
				}
			}

			.selected__nav__link {
				border-radius: 4px;
				background-color: $color-white;

				.navName {
					vertical-align: middle;
					color: $color-selected-elem;
				}

				.navImage {
					fill: $color-selected-elem;
				}
			}

			.tree__child__container {
				display: flex;
				flex-direction: column;
				margin-left: 50px;

				.child__elem {
					&:last-child {
						margin-bottom: 16px;
					}

					margin-top: 16px;
					font-size: $font-size-small;
					line-height: 100%;
				}

				.selected__child__elem {
					color: $color-selected-elem;
				}
			}
		}
	}
}
