$color-main: #0042a6;
$color-yellow: #eafe07;
$color-white: #fff;
$color-svg-elem: #80a0d3;
$color-selected-elem: #2196f3;
$border-style: 1px solid $color-white;
$font: 'Segoe UI', sans-serif;
$font2: 'Roboto', sans-serif;
$font-size-big: 36px;
$font-size-medium: 24px;
$font-size-small: 16px;
$font-size-tiny: 14px;
